apiVersion: v1
kind: PersistentVolume
metadata:
  name: report-uploads-pv
  namespace: citizen-report
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data/citizen-report/uploads"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: report-uploads-pvc
  namespace: citizen-report
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
