apiVersion: v1
kind: Service
metadata:
  name: report-service
  namespace: citizen-report
  labels:
    app: report-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: report-service
