apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: citizen-report
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: notification-service
